<div class="data-insight">
    <div class="row justify-content-center">
        <div class="col fit-width data-search-label">
            <label for="" class="data-search-label">Current element</label>
        </div>
        <div class="col fit-width">
            <div class="square insight-element">
                {{ currentElement }}
            </div>
        </div>
        <div class="col fit-content-mp">
            <div class="relation-sign" [innerHTML]="relationSign"></div>
        </div>
        <div class="col fit-width">
            <div class="square insight-element">
                {{ searchingElement }}
            </div>
        </div>
        <div class="col fit-width data-search-label">
            <label for="" class="data-search-label">Searching element</label>
        </div>
    </div>
    <div class="row justify-content-center" *ngIf="isFound || isNotFound"  [ngClass]="{'text-success': isFound, 'text-danger': isNotFound}" style="font-weight: bold">
        <div *ngIf="isFound">
            Matching element found!
        </div>
        <div *ngIf="isNotFound">
            No matching element found!
        </div>
    </div>
</div>