.data-insight {
    margin-top: 7.5rem;
    width: 100%;
    text-align: center;
}

.insight-element {
    background-color:burlywood!important;
    margin-right: auto!important;
    margin-left: auto!important;
}

.relation-sign {
    background-color: transparent;
    font-size: 2rem;
    margin-right: 0;
    margin-left: 0;
}

.fit-content-mp {
    max-width: fit-content;
    padding: 0;
}