.data-insight {
    margin-top: 7.5rem;
    width: 100%;
    text-align: center;
}

.insight-element {
    background-color:burlywood!important;
    margin-right: auto!important;
    margin-left: auto!important;
}