<div class="bg-dark footer">
    <button class="btn btn-primary" (click)="linearSearch()">Linear Search</button>
    <button class="btn btn-primary" (click)="binarySearch()">Binary Search</button>
    <input type="text" [(ngModel)]="inputData"/>
    <button class="btn btn-secondary" (click)="generateData()">Generate Data</button>
    <input type="text" [(ngModel)]="searchingElement"/>
    <button class="btn btn-outline-primary" (click)="generateRandomData()">Generate Random</button>
    <button class="btn btn-outline-primary" (click)="sortData()">Sort Data</button>
</div>