.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    padding: 1rem 1rem 1rem 1rem;
}

::-webkit-input-placeholder {
    font-size: small;
}

.fit-width {
    max-width: fit-content;
}

.custom-data-btn {
    padding: 0;
}

.rounded {
    border-radius: 100%!important;
    background-color: #343a40;
    border-color: #343a40;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-item {
    display: inline;
    cursor: pointer;
    color: white;
}

.dropdown-item:hover {
    background-color: #343a40;
}

.ml-auto {
    margin-left: auto;
}