.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    padding: 1rem 1rem 1rem 1rem;
}

::-webkit-input-placeholder {
    font-size: small;
}

.fit-width {
    max-width: fit-content;
}

.custom-data-btn {
    padding: 0;
}