.algo-desc {
    margin-left: auto;
    // background-color: #343a40;
    width: 25%;
    height: 350px;
    position: absolute;
    left: 75%;
    top: 50%;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}

.algo-content {
    margin-top: 1rem;
    margin-right: 0.5rem;
}

.algo-close {
    float: right
}