.center-page {
    margin-top: 20%;
    height: 100%;
}

square-item {
    width: auto;
}

.square {
    width: 5rem;
    min-width: 3rem;
    height: 3rem;
    background-color: lightblue;
    font-size: 2rem;
    text-align: center;
    display: grid;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.currentItem {
    background-color: blue;
}

.matchedItem {
    background-color: lightgreen;
}

.inMatchingInterval {
    background-color: blue;
}

.notInMatchingInterval {
    background-color: lightcoral;
}