<div class="container center-page">
    <data-top-row></data-top-row>
    <p-dialog header="Unable to run algorithm" [(visible)]="displayDialog" [modal]="true" [draggable]="false" [style]="{width: '50vw', height: 'fit-content', background: 'rgb(41, 43, 44)', color: 'white'}" closeIcon="pi pi-times">
        <ul>
            <li *ngFor="let statement of dialogStatements">{{ statement }}</li>
        </ul>
    </p-dialog>
    <div class="d-flex flex-wrap justify-content-center">
        <div *ngFor="let el of data" class="square px-2" [ngClass]="{'currentItem': el.isCurrent, 'matchedItem': el.isMatch, 'notInMatchingInterval': el.notInMatchingInterval}">{{ el.value }}</div>
    </div>
    <data-insight [@fadeInState]="dataInsightState" (@fadeInState.done)="algorithmStart()" [currentElement]="currentElement" [relationSign]="relationSign"></data-insight>
</div>
